---
import Default from "@layouts/Default.astro";
import Meta from "@components/Meta.astro";
---

<Meta
  title="My About Me"
  desc="Extra extra! Read all about it!"
  img="https://raw.githubusercontent.com/ch3rries/ch3rries/main/assets/StickersDoodle_cherry_rose.16b7d873.gif"
/>

<style>
  .bio {
    display: grid;
    grid-template-columns: 25% auto;
    padding: 0 0 var(--m-px) 0;
    border-bottom: var(--border-normal) dotted var(--surface0);
    margin: 0 0 var(--m-px) 0;
    flex-direction: column;
  }

  .bio div:not(div:first-child) {
    position: relative;
    padding: 16px;
    margin: 0 0 0 16px;
    background: var(--surface0);
    border-radius: 32px;
    display: flex;
    align-items: center;
  }

  .bio img {
    width: 100%;
    border-radius: 100%;
  }

  #bars {
    margin: 16px 0 2rem 0;
  }

  bar {
    padding: 8px;
    margin: 16px 0;
    display: block;
    min-height: 32px;
    border-radius: 8px;
    border: 2px solid var(--surface0);
  }

  bar p {
    margin: 0 0 8px 0;
  }

  bar fill {
    display: block;
    border-radius: 4px;
    min-height: 16px;
    /* TODO: Make gradient. */
    /* Or replace with GitHub language colors */
    background: var(--blue);
  }

  #socials {
  }

  pill {
    display: flex;
    align-items: center;
    border-radius: 8px;
  }

  pill i {
    margin: 0 16px 0 0;
    padding: 0 16px 0 0;
    border-right: 2px solid var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    font-size: 2rem;
    width: 32px;
  }

  pill a,
  pill p {
    font-size: 36.49px;
    font-style: italic;
    text-decoration: none;
  }

  pill a:hover {
    transition: ease 0.1s;
    font-weight: 800;
  }

  @media only screen and (max-width: 800px) {
    .bio {
      display: grid;
      grid-template-columns: auto;
    }

    .bio div:not(div:first-child) {
      margin: 0;
    }

    .bio div img {
      width: 50%;
      margin: 0 0 32px 0;
      align-self: center;
    }

    .bio div:first-child {
      display: flex;
      flex-direction: column;
    }
  }
</style>

<Default pageTitle="About">
  <div class="bio">
    <div>
      <img
        src="https://github.com/ch3rries/ch3rries/raw/main/assets/StickersDoodle_cherry_rose.16b7d873.gif?raw=true"
        alt="Placeholder Image"
      />
    </div>
    <div>
      <div>
        <h1 style="margin-top: 0;">Hi, I'm Noah.</h1>
        <p style="margin: 0;">
          I'm a novice programmer with a love for making websites. Here's my
          about me, I mean, this is what you're visiting me for - right?
        </p>
      </div>
    </div>
  </div>

  <div id="socials">
    <pill>
      <i class="fa-brands fa-reddit" style="color: #FF5700;"></i>
      <a href="https://reddit.com/u/XSuperOptical">Reddit</a>
    </pill>
    <pill>
      <i class="fa-brands fa-github"></i>
      <a href="https://github.com/ch3rries">Github</a>
    </pill>
    <pill>
      <i class="fa-brands fa-twitter" style="color: #1da1f2;"></i>
      <a href="https://x.com/cherryponee">Twitter</a>
    </pill>
    <pill>
      <i class="fa-solid fa-envelope" style="color: var(--blue);"></i>
      <a href="mailto:mail.noahhancock@gmail.com">Email</a>
    </pill>
    <pill>
      <i class="fa-brands fa-discord" style="color: #5865f2;"></i>
      <p>4912</p>
    </pill>
  </div>

  <h2>About me... In short.</h2>
  <ul>
    <li>About me</li>
    <ul>
      <li>🎂 March 2nd</li>
      <li>Male (He/Him)</li>
      <li>Nicknames: Cherry, Neoko, Noah*, Fox*</li>
    </ul>
    <li>Hobbies</li>
    <ul>
      <li>Photography</li>
      <li>Programming</li>
      <li>Front-end Development</li>
      <li>Exploring Nature</li>
      <li>Hiking</li>
      <li>Biking</li>
      <li>Skiing</li>
    </ul>
    <li>Favorite Things</li>
    <ul>
      <li>Color: Pink</li>
      <li>Food: Pizza</li>
      <li>Game: Mario Kart Wii (CTGP); Terraria</li>
    </ul>
  </ul>

  <h2>Programming</h2>
  <p style="margin-bottom: 0;">
    Below is a list of my skills in different programming languages. The bar
    represents my knowledge and capacity to understand and use a language.
  </p>

  <div id="bars">
    <bar>
      <p>HTML</p>
      <fill style="width: 90%;"></fill>
    </bar>
    <bar>
      <p>CSS</p>
      <fill style="width: 90%;"></fill>
    </bar>
    <bar>
      <p>Astro</p>
      <fill style="width: 75%;"></fill>
    </bar>
    <bar>
      <p>Python</p>
      <fill style="width: 70%;"></fill>
    </bar>
    <bar>
      <p>Luau</p>
      <fill style="width: 30%;"></fill>
    </bar>
    <bar>
      <p>C#</p>
      <fill style="width: 10%;"></fill>
    </bar>
  </div>

  <h2>What You Will See On My Blog</h2>
  <ul>
    <li>Photography</li>
    <li>IDE Setups/talk (Neovim)</li>
    <li>Coding Solutions (GitHub, Codeium, etc)</li>
    <li>Personal Projects</li>
    <li>Nerdy Stuff</li>
  </ul>
</Default>
