/* Register fonts */


@font-face {
  font-family: "Fantasque";
  src: url(Fantasque/FantasqueSansMNerdFont-Regular.ttf);
}

@font-face {
  font-family: "Fantasque";
  src: url(Fantasque/FantasqueSansMNerdFont-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Fantasque";
  src: url(Fantasque/FantasqueSansMNerdFont-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Fantasque";
  src: url(Fantasque/FantasqueSansMNerdFont-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url(Inter/Inter-VariableFont_slnt,wght.ttf);
}

@font-face {
  font-family: "Space Grotesk";
  src: url(Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}

/* CSS variables. */
:root {
  /* Typography */
  --heading: "Space Grotesk";
  --body: "Inter";
  --mono: "Fantasque";
  --b-px: 32px;
  --m-px: 16px;
  --s-px: 8px;
  --xs-px: 4px;
  --b-rem: 2rem;
  --m-rem: 1rem;
  --s-rem: 0.5rem;
  --border-thick: 3px;
  --border-normal: 2px;
  --border-thin: 1px;
}

.dark {
  --rosewater: 245, 224, 220;
  --flamingo: 242, 205, 205;
  --pink: 245, 194, 231;
  --mauve: 203, 166, 247;
  --red: 243, 139, 168;
  --maroon: 235, 160, 172;
  --peach: 250, 179, 135;
  --yellow: 249, 226, 175;
  --green: 166, 227, 161;
  --teal: 148, 226, 213;
  --sky: 137, 220, 235;
  --sapphire: 116, 199, 236;
  --blue: 137, 180, 250;
  --lavender: 180, 190, 254;
  --text: 205, 214, 244;
  --subtext1: 186, 194, 222;
  --subtext0: 166, 173, 200;
  --overlay2: 148, 154, 179;
  --overlay1: 127, 132, 156;
  --overlay0: 108, 112, 134;
  --surface2: 88, 91, 112;
  --surface1: 69, 71, 90;
  --surface0: 49, 50, 68;
  --base: 30, 30, 46;
  --mantle: 24, 24, 37;
  --crust: 17, 17, 27;
}

.light {
  --rosewater: 220, 138, 120;
  --flamingo: 221, 120, 120;
  --pink: 234, 118, 203;
  --mauve: 136, 57, 239;
  --red: 210, 15, 57;
  --maroon: 230, 69, 83;
  --peach: 254, 100, 11;
  --yellow: 223, 142, 29;
  --green: 64, 160, 43;
  --teal: 23, 146, 153;
  --sky: 4, 165, 229;
  --sapphire: 32, 159, 181;
  --blue: 30, 102, 245;
  --lavender: 114, 135, 253;
  --text: 76, 79, 105;
  --subtext1: 92, 95, 119;
  --subtext0: 108, 111, 133;
  --overlay2: 124, 127, 147;
  --overlay1: 140, 143, 161;
  --overlay0: 156, 160, 176;
  --surface2: 172, 176, 190;
  --surface1: 188, 192, 204;
  --surface0: 204, 208, 218;
  --base: 239, 241, 245;
  --mantle: 230, 233, 239;
  --crust: 220, 224, 232;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(var(--base));
  position: relative;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6
{
  color: rgb(var(--text));
  font-weight: 700;
  line-height: 1.15;
  font-family: var(--body);
  margin-top: 2.25rem;
  margin-bottom: 1rem;
}

article h1 {
  font-size: 2.027rem;
}

article h2 {
  font-size: 1.802rem;
}

article h3 {
  font-size: 1.602rem;
}

article h4 {
  font-size: 1.424rem;
}

article h5 {
  font-size: 1.266rem;
}

article h6 {
  font-size: 1.125rem;
}

article a,
article li,
article p {
  font-family: var(--body);
  line-height: 1.8;
  font-size: 1rem;
  color: rgb(var(--text));
  font-weight: 500;
}

article ul ul {
  margin-left: var(--b-rem);
}

article li {
  margin-left: var(--b-rem);
}

article {
  margin-top: 75px;
  padding: 0 var(--m-px) var(--b-px) var(--m-px);
}

article img {
  width: 100%;
  margin: var(--m-px) 0;
  border-radius: var(--m-px);
}

* {
  /* background: rgba(255, 0, 0, 0.1); */
}
