---
import Default from "@layouts/Default.astro";
import Meta from "@components/Meta.astro";
---

<Meta title="404" desc="Where are we?" />

<Default pageTitle="Home">
  <h1>
    Either this page is under contruction or you wound up in the wrong place...
  </h1>
</Default>
