---
import Default from "@layouts/Default.astro";
import BlogCardRecent from "@components/BlogCardRecent.astro";
// TODO: Make this only display recent posts.
// TODO: Fix so that it gets all blog posts, no matter what folder
const recentPosts = await Astro.glob("@posts/*");
---

<Default pageTitle="Home">
  <h1 style="text-align: center; margin-bottom: 2rem;">
    Catch up with my recent blogs!
  </h1>
  {
    recentPosts.map((post) => (
      <BlogCardRecent
        title={post.frontmatter.title}
        desc={post.frontmatter.desc.slice(0, 120)}
        date={post.frontmatter.date.toString().slice(0, 10)}
        author={post.frontmatter.author}
        tags={post.frontmatter.tags}
        url={post.url}
      />
    ))
  }
</Default>
