---
import Default from "@layouts/Default.astro";
import BlogCardRecent from "@components/BlogCardRecent.astro";
import Meta from "@components/Meta.astro";
// TODO: Make this only display recent posts.
const recentPosts = await Astro.glob("@posts/*");
---

<Meta title="Home" desc="Check out my recent blogs our browse my webpage." />

<Default pageTitle="Home">
  <h1>4912.blog</h1>
  <p>
    Welcome to the website! As per the top-level domain, this is my blog
    website!
  </p>
  <h2>Catch up with my recent blogs!</h2>
  {
    recentPosts.map((post) => (
      <BlogCardRecent
        title={post.frontmatter.title}
        desc={post.frontmatter.desc.slice(0, 120)}
        date={post.frontmatter.date.toString().slice(0, 10)}
        author={post.frontmatter.author}
        tags={post.frontmatter.tags}
        url={post.url}
      />
    ))
  }
</Default>
