---
import Default from "@layouts/Default.astro";
---

<Default pageTitle="Home">
  <h1>This is a header</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
    necessitatibus incidunt numquam esse ipsum! Eius aspernatur assumenda
    facere. Explicabo, pariatur dolorem. Consequuntur debitis nisi vel cum. Aut
    possimus soluta quod?
  </p>
  <h1>This is a header</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
    necessitatibus incidunt numquam esse ipsum! Eius aspernatur assumenda
    facere. Explicabo, pariatur dolorem. Consequuntur debitis nisi vel cum. Aut
    possimus soluta quod?
  </p>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ul>
  <ol>
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ol>
  <p><strong>Test</strong></p>
</Default>
