---
import Default from "@layouts/Default.astro";
import BlogCardRecent from "@components/BlogCardRecent.astro";
import Meta from "@components/Meta.astro";
import { formatBlogPosts } from "@components/js/utilities.js";

const recentPosts = await Astro.glob("@posts/*.md");
const formattedPosts = formatBlogPosts(recentPosts, {
  limit: 5,
});
---

<Meta title="Home" desc="Check out my recent blogs our browse my webpage." />

<style>
  #hero {
    margin-bottom: var(--b-px);
  }

  #hero h1 {
    font-family: var(--heading);
    color: rgb(var(--blue));
  }

  #hero h1,
  #hero p {
    text-align: center;
  }
</style>

<Default pageTitle="Home">
  <div id="hero">
    <h1>Welcome to 4912.</h1>
    <p>
      Hello! View some recent blogs below. Use the navigation bar to see my
      about me!
    </p>
  </div>
  {
    formattedPosts.map((post) => (
      <BlogCardRecent
        title={post.frontmatter.title}
        desc={post.frontmatter.desc.slice(0, 120)}
        date={post.frontmatter.date.toString().slice(0, 10)}
        author={post.frontmatter.author}
        tags={post.frontmatter.tags}
        url={post.url}
      />
    ))
  }
</Default>
