---
// INFO: This file contains the recent blogs card component (found on homepage).
const { title, desc, date, author, tags, url } = Astro.props;
---

<style>
  cardRecent {
    display: grid;
    padding: var(--b-px) 0;
  }

  cardRecent h2 {
    margin: 0;
  }

  #date {
    color: var(--overlay0);
  }

  #body {
    margin: 0;
    padding: var(--s-px) 0;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--surface0);
    border-radius: 6px;
    cursor: pointer;
    min-height: 48px;
    text-decoration: none;
  }

  a:hover {
    background: var(--surface1);
  }
</style>

<cardRecent>
  <div>
    <h2>{title}</h2>
    <p id="body">{desc}</p>
    <p style="float:right">{date}</p>
  </div>
  <a href={url}>Read -></a>
</cardRecent>
