---
// INFO: This file contains the Footer component.
---

<script is:inline>
  function switchButtonIcon(theme) {
    const button = document.getElementById("themeToggleButton");
    if (theme == "light") {
      button.innerHTML =
        '<i style="margin: 0 var(--xs-px); font-size: 1.4rem;" class="fa-solid fa-sun"></i>';
    } else if (theme == "dark") {
      button.innerHTML =
        '<i style="margin: 0 var(--xs-px); font-size: 1.4rem;" class="fa-solid fa-moon"></i>';
    }
  }

  function switchTheme() {
    const html = document.documentElement;

    // Toggle button logic
    if (html.classList.contains("dark")) {
      html.className = "light";
      switchButtonIcon("dark");
      localStorage.setItem("theme", "light");
    } else {
      html.className = "dark";
      switchButtonIcon("light");
      localStorage.setItem("theme", "dark");
    }
  }
</script>

<style>
  footer {
    background: rgb(var(--crust));
    padding: var(--m-px);
    flex-shrink: 1;
    text-align: center;
    font-family: var(--body);
    font-size: var(--s-rem);
    color: rgb(var(--surface1));
  }

  footer a {
    color: rgb(var(--surface1));
  }

  #links {
    display: flex;
    justify-content: center;
  }

  #links div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--s-px);
  }

  #links div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  #links div a i {
    margin: 0 var(--xs-px);
    color: rgb(var(--text));
    font-size: 1.5rem;
  }

  #themeToggleButton {
    padding-left: var(--xs-px);
    margin-left: var(--xs-px);
    border-left: solid rgb(var(--overlay0)) var(--border-normal);
    cursor: pointer;
  }
</style>

<footer>
  <div id="links">
    <div>
      <a href="https://github.com/ch3rries" aria-label="GitHub"
        ><i class="fa-brands fa-github"></i></a
      >
      <a href="https://x.com/cherryponee" aria-label="X"
        ><i class="fa-brands fa-x-twitter"></i></a
      >
      <a href="https://reddit.com/u/XSuperOptical" aria-label="reddit"
        ><i class="fa-brands fa-reddit-alien"></i></a
      >
      <a id="themeToggleButton" onclick="switchTheme()"
        ><i class="fa-regular fa-no"></i></a
      >
    </div>
  </div>
  <p style="margin-top: 8px;">
    Noah Hancock, 2024 - <span style="font-family: var(--mono);">v7.1.1</span>
  </p>
</footer>

<script is:inline>
  const html = document.documentElement;
  const currentTheme = localStorage.getItem("theme");

  // No theme, add default
  if (!html.classList.contains("light", "dark")) {
    // Default to dark theme
    html.classList.add("dark");
  }

  // Theme from localStorage
  if (currentTheme == "dark") {
    html.className = "dark";
    switchButtonIcon("light");
  } else {
    html.className = "light";
    switchButtonIcon("dark");
  }
</script>
