---
// INFO: This file contains the Navbar component.
const { pageTitle } = Astro.props;
const blogName = "cherries";
---

<style>
  header {
    margin: 16px 16px 32px 16px;
  }

  nav {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #name {
    display: flex;
    flex-grow: 1;

    p {
      background: var(--text);
      color: var(--bg);
      padding: 5px 10px;
    }
  }

  #name::after {
    content: "";
    display: block;
    background: var(--bg);
    background: linear-gradient(90deg, var(--text) 0%, var(--bg) 100%);
    width: 100%;
  }

  menu {
    display: flex;
    margin-top: 16px;

    li {
      list-style: none;
      margin: 0 1rem 0 0;
    }

    a {
      color: var(--text);
    }
  }
</style>

<script is:inline>
  window.addEventListener("load", (event) => {
    if (localStorage.getItem("theme") == null) {
      localStorage.setItem("theme", "dark");
    }
  });
</script>

<title>{pageTitle} - {blogName}</title>

<header>
  <nav>
    <div id="name">
      <p>{blogName}</p>
    </div>
  </nav>
  <menu>
    <li><a href="#about">About</a></li>
    <li><a href="#archive">Archive</a></li>
  </menu>
</header>
