---
// INFO: This file contains the Navbar component.
const { pageTitle } = Astro.props;
const blogName = "4912";
---

<style>
  wrapper {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    padding: var(--xs-px);
    border-bottom: var(--border-normal) solid rgba(var(--overlay0), 0.4);
    display: flex;
    justify-content: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    align-items: center;
    flex-direction: row;
  }

  #name a {
    font-family: var(--heading);
    color: rgb(var(--blue));
    padding: var(--s-px);
    /* border: rgb(var(--blue)) solid var(--border-normal); */
    /* border-radius: var(--b-px); */
    font-size: 1.266rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #dropdown {
    margin-right: var(--s-px);
  }

  #dropdown a {
    font-size: calc(var(--m-rem) + var(--s-rem));
    color: rgb(var(--text));
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
  }
</style>

<title>{pageTitle} - {blogName}</title>
<wrapper class="blurry">
  <nav>
    <div id="name">
      <a href="/">{blogName}</a>
    </div>
    <!--TEMPORARY -->
    <a
      href="/about"
      style="color: rgb(var(--blue)); font-family: var(--body); text-decoration: none;"
      >About Me</a
    >
    <!--<div id="dropdown"><a><i class="fa-solid fa-chevron-down"></i></a></div>-->
  </nav>
</wrapper>
