---
// INFO: This file contains the Navbar component.
const { pageTitle } = Astro.props;
const blogName = "4912";
---

<style>
  wrapper {
    display: flex;
    align-items: center;
    padding: var(--s-px);
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
  }

  #name a {
    font-family: var(--heading);
    color: var(--blue);
    padding: var(--xs-px);
    border: var(--blue) solid var(--border-normal);
    border-radius: var(--s-px);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #name a:hover {
    background: var(--surface0);
  }

  #menu {
    display: flex;
    align-items: center;
  }

  #menu li {
    list-style: none;
  }

  #menu li a {
    text-decoration: none;
    color: var(--blue);
    font-family: var(--body);
    padding: var(--xs-px) var(--xs-px);
    margin: 0 var(--xs-px);
  }

  #menu li a:hover {
    background: var(--surface0);
    border-radius: var(--xs-px);
    outline: var(--surface1) solid var(--border-normal);
  }
</style>

<title>{pageTitle} - {blogName}</title>

<wrapper>
  <nav>
    <div id="name">
      <a href="/">{blogName}</a>
    </div>
    <div id="menu">
      <li><a href="/about">About</a></li>
      <li><a href="/archive">Archive</a></li>
    </div>
  </nav>
</wrapper>
