---
const siteName = "Placeholder";
const { pageTitle } = Astro.props;
const blogName = "cherries";
---

<style>
  nav {
    width: 100%;
    display: flex;
    list-style: none;

    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
    }
  }

  #name {
    background: var(--text);
    flex: 1;

    p {
      color: var(--bg) !important;
      padding: 0.5rem 0.5rem;
    }
  }

  #name::after {
    flex: 1;
    width: 100%;
    content: "";
    display: block;
    background: repeating-linear-gradient(
      90deg,
      var(--bg),
      var(--bg) 2px,
      transparent 0,
      transparent 10px
    );
  }

  #links {
    flex: 1;

    li,
    ol,
    ul {
      margin: 0 1rem;
    }
  }
</style>

<script is:inline>
  window.addEventListener("load", (event) => {
    if (localStorage.getItem("theme") == null) {
      localStorage.setItem("theme", "dark");
    }
  });
</script>

<title>{pageTitle} - {blogName}</title>

<nav>
  <div>
    <div id="name">
      <p>{blogName}</p>
    </div>
    <div id="links">
      <li><a>About</a></li>
      <li><a>Archive</a></li>
    </div>
  </div>
</nav>
