---
// INFO: This file contains the Navbar component.
const { pageTitle } = Astro.props;
const blogName = "4912";
---

<style>
  wrapper {
    z-index: 1000;
    left: 0;
    right: 0;
    max-width: 800px;
    margin: 5% auto;
    border-radius: var(--b-px);
    margin: var(--s-px);
    padding: var(--s-px);
    background: rgba(186, 194, 222, 0.2);
    backdrop-filter: blur(44px);
    position: fixed;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #name a {
    font-family: var(--heading);
    color: var(--blue);
    padding: var(--s-px);
    border: var(--blue) solid var(--border-normal);
    border-radius: var(--b-px);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #dropdown {
    font-size: 1.5rem;
    margin: 0 var(--s-px);
    cursor: pointer;
  }
</style>

<title>{pageTitle} - {blogName}</title>

<wrapper>
  <nav>
    <div id="name">
      <a href="/">{blogName}</a>
    </div>
    <a id="dropdown"><i class="fa-solid fa-bars"></i></a>
  </nav>
</wrapper>
