---
// INFO: This file contains the Navbar component.
const { pageTitle } = Astro.props;
const blogName = "4912";
---

<script is:inline>
  // TODO: Create button icon switcher
  // Yes, I know you've already tried.
  function switchTheme() {
    const themeToggleButton = document.getElementById("themeToggleButton");
    const html = document.documentElement;

    // Toggle button logic
    if (html.classList.contains("dark")) {
      html.className = "light";
      localStorage.setItem("theme", "light");
    } else {
      html.className = "dark";
      localStorage.setItem("theme", "dark");
    }
  }
</script>

<style>
  wrapper {
    display: flex;
    padding: 16px;
    justify-content: space-between;
  }

  wrapper #name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--heading);
    padding: 8px;
    border: 3px solid var(--blue);
    border-radius: 128px;
  }

  wrapper #name a {
    color: var(--blue);
  }

  wrapper #menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  wrapper #menu li {
    list-style: none;
    font-family: "Inter";
    margin-right: 8px;
    color: var(--text);
    padding: 8px;
    border: 3px solid var(--blue);
    border-radius: 128px;
  }

  wrapper #menu i {
    cursor: pointer;
    color: var(--text);
    padding: 8px;
    border: 3px solid var(--blue);
    border-radius: 128px;
  }

  wrapper #menu li a,
  wrapper #name a {
    color: var(--blue);
    text-decoration: none;
  }
</style>

<title>{pageTitle} - {blogName}</title>

<wrapper>
  <div id="name">
    <a href="/">{blogName}</a>
  </div>
  <div id="menu">
    <li><a href="/about">About</a></li>
    <li><a href="/archive">Archive</a></li>
    <i id="themeToggleButton" onclick="switchTheme()" class="fa-solid fa-sun"
    ></i>
  </div>
</wrapper>
