---
// INFO: This file contains the Navbar component.
const { pageTitle } = Astro.props;
const blogName = "4912";
---

<style>
  crust {
    position: sticky;
    top: 0;
  }

  wrapper {
    z-index: 1000;
    border-radius: var(--b-px);
    margin: var(--s-px);
    padding: var(--s-px);
    background: rgba(186, 194, 222, 0.2);
    backdrop-filter: blur(44px);
    box-shadow: 0 0 16px rgb(76, 79, 105, 0.2);
    display: flex;
    justify-content: flex-start;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: row;
  }

  #name a {
    font-family: var(--heading);
    color: var(--blue);
    padding: var(--s-px);
    border: var(--blue) solid var(--border-normal);
    border-radius: var(--b-px);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #dropdown {
    font-size: 1.5rem;
    color: var(--text);
    margin: 0 var(--m-px);
    cursor: pointer;
  }
</style>

<title>{pageTitle} - {blogName}</title>
<crust>
  <wrapper>
    <nav>
      <div id="name">
        <a href="/">{blogName}</a>
      </div>
      <a id="dropdown"><i class="fa-solid fa-bars"></i></a>
    </nav>
  </wrapper>
</crust>
