---
// INFO: This file contains the default formatting for pages.
import "@styles/global.css";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
const { pageTitle } = Astro.props;
---

<script is:inline type="module">
  var root = document.querySelector(":root");
  var theme = localStorage.getItem("theme");

  // HACK: `root.style.setProperty` looks funky, but it works. Maybe clean it?
  function darkTheme() {
    root.style.setProperty("--bg", "#282828");
    root.style.setProperty("--bg-dark", "#1d2021");
    root.style.setProperty("--text", "#ebdbb2");
    return "Dark Mode";
  }

  function lightTheme() {
    root.style.setProperty("--bg", "#fbf1c7");
    root.style.setProperty("--bg-dark", "#ebdbb2");
    root.style.setProperty("--text", "#3c3836");
    return "Light Mode";
  }

  function themeSet() {
    if (theme == "dark") {
      darkTheme();
      return "Dark Mode";
    } else if (theme == "light") {
      lightTheme();
      return "Light Mode";
    }
  }

  window.onpaint = themeSet();
</script>

<html lang="en">
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <style>
    wrapper {
      min-height: 100vh;
      display: flex;
      justify-content: center;
    }

    article {
      max-width: 700px;
      padding: 0 16px;
      flex-grow: 1;
      flex-basis: 100%;
    }

    wrapper div {
      max-width: 700px;
      display: flex;
      flex-direction: column;
    }
  </style>

  <wrapper>
    <div>
      <Navbar pageTitle={pageTitle} />
      <article>
        <slot />
      </article>
      <Footer />
    </div>
  </wrapper>


</html>
