---
// INFO: This file contains the default formatting for pages.
import "@styles/global.css";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
const { pageTitle } = Astro.props;
---

<script
  is:inline
  src="https://kit.fontawesome.com/3743b87ea3.js"
  crossorigin="anonymous"></script>

<script is:inline>
  const html = document.documentElement;
  const currentTheme = localStorage.getItem("theme");

  // No theme, add default
  if (!html.classList.contains("light", "dark")) {
    // Default to dark theme
    html.classList.add("dark");
  }

  // Theme from localStorage
  if (currentTheme == "dark") {
    html.className = "dark";
  } else {
    html.className = "light";
  }
</script>

<html lang="en">
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <style>
    wrapper {
      min-height: 100vh;
      display: flex;
      justify-content: center;
    }

    article {
      max-width: 800px;
      flex-grow: 1;
      flex-basis: 100%;
    }

    wrapper div {
      display: flex;
      flex-direction: column;
    }

    @media only screen and (min-width: 800px) {
      article {
        width: 800px;
      }
    }
  </style>

  <wrapper>
    <div>
      <Navbar pageTitle={pageTitle} />
      <article>
        <slot />
      </article>
      <Footer />
    </div>
  </wrapper>


</html>
